body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li.active a {
    color: #EA6B6B;
}

header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
}

#main-header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#main-nav .nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 10px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.container {
    margin: 20px;
}


.login-form .form-group {
    margin-bottom: 15px;
}

.login-form input[type=text],
.login-form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

#main-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust as needed */
}

.registration-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Adjust as needed */
}

.registration-form .form-group {
    margin-bottom: 15px;
}

.registration-form input[type=text],
.registration-form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

/* Footer styles */

footer {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-right: 10px;
    }

    main {
        padding: 10px;
    }

    .features-section {
        flex-wrap: wrap;
    }

    .feature-card {
        flex-basis: calc(50% - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
    }
}