<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile - JohnDoe</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/index.js" defer> </script>
    <script src="static/js/forms.js" defer> </script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav>
             <ul>
    <li class="active"><a href="/home">Home</a></li>
    <li><a href="/login" id="login">Login</a></li>
    <li><a href="/register" id="register">Register</a></li>
    <li><a href="/logout" id="logout">Logout</a></li>
    <li><a href="/editprofile" id="editprofile">Edit Profile</a></li>
</ul>
        </nav>
        <h1>Edit Profile - JohnDoe</h1>
    </header>

    <section class="container">
        <form class="profile-edit-form" action="#" method="POST">
            <label for="profile-picture">Profile Picture:</label>
            <input type="file" name="profile-picture" id="profile-picture">

            <label for="user-description">Short Description:</label>
            <textarea name="user-description" id="user-description" rows="4" cols="50"></textarea>

            <input type="submit" value="Save Changes">
        </form>
    </section>

    <footer>
        <p>&copy; 2023 pinkkit. All rights reserved.</p>
    </footer>

    <script src="https://kit.fontawesome.com/69c55ad5c0.js" crossorigin="anonymous"></script>
</body>
</html>
