<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile - JohnDoe</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="main.js"></script>
    <script src="static/js/index.js" defer> </script>
    <script src="static/js/forms.js" defer> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(function(){
            const urlParams = new URLSearchParams(window.location.search)
            const accountID = urlParams.get('accountID')
            const account = accounts[accountID]

            console.log(accountID)
            $("#user-pfp").attr("src",`./pfp/${accountID}.png`)
			$("#header").append(account.displayname)
            $(".user-description h2").html(account.displayname)
            $(".user-description p").html(account.description)
        })
    </script>
</head>
<body>
    <header>
        <nav>
             <ul>
    <li class="active"><a href="/home">Home</a></li>
    <li><a href="/login" id="login">Login</a></li>
    <li><a href="/register" id="register">Register</a></li>
    <li><a href="/logout" id="logout">Logout</a></li>
    <li><a href="/editprofile" id="editprofile">Edit Profile</a></li>
</ul>
        </nav>
        <h1 id = "header">User Profile - </h1>
    </header>

    <section class="container">
        <section class="user-info">
            <div class="user-image">
                <img alt="Profile Picture" id="user-pfp">
            </div>
            <div class="user-description">
                <h2></h2>
                <p></p>
            </div>
        </section>

        <section class="user-activities">
            <h2>Latest Posts and Comments</h2>
            <ul class="user-activity-list">
                <li>
                    <a href="#">
                        <div class="activity-info">
                            <h4>Title of the First Post Goes Here</h4>
                            <p>Posted on January 1st, 2021 at 2:00pm</p>
                            <p>Here's a snippet of the post description. It can be a few sentences long and provide a brief overview of the post.</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="activity-info">
                            <h4>Title of the Second Comment Goes Here</h4>
                            <p>Posted on February 5th, 2021 at 11:30am</p>
                            <p>Here's a snippet of the comment. It can be a few sentences long and provide a brief overview of the post.</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="activity-info">
                            <h4>Title of the Third Post Goes Here</h4>
                            <p>Posted on March 10th, 2021 at 6:15pm</p>
                            <p>Here's a snippet of the post description. It can be a few sentences long and provide a brief overview of the post.</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="activity-info">
                            <h4>Title of the Fourth Comment Goes Here</h4>
                            <p>Posted on April 15th, 2021 at 9:45am</p>
                            <p>Here's a snippet of the comment. It can be a few sentences long and provide a brief overview of the post.</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="activity-info">
                            <h4>Title of the Fifth Post Goes Here</h4>
                            <p>Posted on May 20th, 2021 at 1:30pm</p>
                            <p>Here's a snippet of the post description. It can be a few sentences long and provide a brief overview of the post.</p>
                        </div>
                    </a>
                </li>
            </ul>
            <p class="view-all"><a href="#">View All Posts and Comments</a></p>
        </section>

    </section>

    <footer>
        <p>&copy; 2023 pinkkit. All rights reserved.</p>
    </footer>

    <script src="https://kit.fontawesome.com/69c55ad5c0.js" crossorigin="anonymous"></script>
</body>
</html>
