<!DOCTYPE html>
    <head>
        <title> {{title}} </title>
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/js/index.js" defer> </script>
        <script src="static/js/forms.js" defer> </script>
        <script type="text/javascript" src="main.js"></script>
        <!-- jQuery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="main-content">
            {{{body}}}
        </div>
    </body>
</html>